{% extends "base.html.twig" %}
{% block title %}Exception{% endblock %}
{% block main %}
    <h1>Exception</h1>
    <h2>{{ exception.message }}</h2>
    <h3>in {{ exception.file }} at <span>{{ exception.line }}</span></h3>
    <ul>
        {% for item in exception.trace|reverse %}
            <li>from "{{item.function }}()" in {{ item.file }} at {{ item.line }}</li>
            {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1, span {
            background-color: #ffc9c9;
        }
    </style>
{% endblock %}
