{% extends "base.html.twig" %}

{% block main %}
    <h1>Listing</h1>
    <a href="{{ crud_create('bicycle') }}">New</a>
    <table role='grid'>
        <thead>
            <tr>
                <th>Pk</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Color</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in listing %}
                <tr>
                     <td><a href="{{ crud_show(item) }}">{{ item.pk }}</a></td>
                     <td>{{ item.brand }}</td>
                     <td>{{ item.size }}</td>
                     <td>{{ item.color }}</td>
                    <td>
                        <a href="{{ crud_edit(item) }}">Edit</a>
                        <a href="{{ crud_delete(item) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
